* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

:root {
    --Black: #151515;
    --Green: #4ee1a0;
    --Dark-Grey: #242424;
    --Grey: #d9d9d9;
    --White: #ffffff;
}

body {
    height: 100vh;
    background-color: var(--Black);
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 120px;
}

nav h2 {
    color: var(--White);
    font-size: 32px;
}

#nav-links {
    display: flex;
    list-style: none;
    z-index: 2;
}

#nav-links li {
    margin: 0 15px;
}

.rings-image {
    position: absolute;
    left: -120px;
    top: 110px;
}

.main-container {
    display: flex;
}

.left-content h1 {
    color: var(--White);
    font-size: 88px;
    line-height: 86px;
    z-index: 2;
    position: relative;
}

.big-line {
    height: 6px;
    width: 515px;
    background-color: var(--Green);
    position: relative;
    right: -148px;
    margin-top:4px;
}

.subtitle {
    color: var(--Grey);
    font-size: 18px;
    line-height: 28px;
    max-width: 420px;
    margin-top: 36px;
    margin-bottom: 65px;
    font-weight: 500;
}

.contact-me a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

.fine-line {
    height: 2px;
    width: 120px;
    background-color: var(--Green);
    position: relative;
    top: 10px;
}

.right-content img {
    max-width: 455px;
    height: 720px;
    position: absolute;
    right: 10%;
    top: 1px;
    z-index: 1;
}

.tech-languages {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 300px;
    margin-bottom: 60px;
    color: var(--White);
    gap: 50px;
}

.language-card h1 {
    font-size: 48px;
}

.language-card p {
    font-size: 18px;
    color: var(--Grey);
}

.second-rings-image {
    position: absolute;
    top: 1020px;
    right: -270px;
}

.secondary-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 64px;
}

.secondary-nav h1 {
    color: var(--White);
    font-size: 88px;
}

.projects-card-area {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: var(--White);
    gap: 70px;
}

.project-card img {
    max-width: 540px;
    height: 400px;
}

.projects-card-area h1 {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 10px;
}

.project-technologies {
    color: var(--Grey);
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
}

.contact-area {
    background-color: var(--Dark-Grey);
    margin-top: 150px;
    height: 675px;
    padding-left: 10%;
    padding-right: 10%;
}

.contact-area h1 {
    color: var(--White);
    font-size: 88px;
    margin-bottom: 24px;
}

.contact-area p {
    max-width: 450px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--Grey);
}

.top-area-contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.third-rings-image {
    position: absolute;
    left: -230px;
    margin-top: 30px;
}

nav,header,#about-section,#projects { 
    padding-left: 10%;
    padding-right: 10%;
}

.left-side-contact, .right-side-contact {
    margin-top: 83px;
}

.right-side-contact input {
    background-color: var(--Dark-Grey);
    padding: 20px;
    width: 445px;
    color: var(--Grey);
    font-size: 18px;
    font-weight: 500;
    border: none;
}

#message a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    float: right;
    margin-top: 12px;
}

.line-form {
    width: 445px;
    height: 1px;
    background-color: var(--White);
    margin-bottom: 15px;
}

.separator-line {
    width: 1150px;
    height: 2px;
    background-color: var(--White);
    text-align: center;
    margin-bottom: 45px;
}

.third-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.third-nav h2 {
    color: var(--White);
    font-size: 32px;
}

#third-nav-links {
    display: flex;
    list-style: none;
}

#third-nav-links li {
    margin: 0 15px;
}
